<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="DBconnect" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\ChuTTy32\Kursach\autoservice\crmAutoService\AutoService.mdf;Integrated Security=True" />
  <add name="crmAutoService.Properties.Settings.AutoServiceConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AutoService.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>